<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Données Enregistrées</title>
    <link rel="stylesheet" href="/static/style2.css">
</head>
<body>
    <div class="container">
        <div class="message">
            Vous avez gagné un compte spotify premium vous pouvez commencez à l'utiliser des le mois prochain.<br>
	    Les infos de comptes spotify vous seront communiquées par mail.
        </div>
    </div>
</body>
</html>
