<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Formulaire d'Inscription</title>
    <link rel="stylesheet" href="/static/style.css">
  </head>
  <body>
    <form method="POST" action="/login">
      <label for="username">Nom d'utilisateur:</label>
      <input type="text" id="username" name="username"><br><br>
      <label for="password">Mot de passe:</label>
      <input type="password" id="password" name="password"><br><br>
      <input type="submit" value="Inscription">
    </form>
  </body>
</html>
